<%= error_messages_for 'department' %>

<!--[form:department]-->
<p><label for="department_department_name">Department name</label><br/>
<%= text_field 'department', 'department_name'  %></p>
<!--[eoform:department]-->

